{% extends "base.html" %}
{% block content %}
<section class="form-page">
    <h2>Upload your clothes and accessories</h2>
    <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
        <div class="form-field">
            <label for="name">Item Name:</label>
            <input id="name" type="text" name="name">
        </div>
        <div class="form-field">
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
                <option value="shoes">Shoes</option>
                <option value="outerwear">Outerwear</option>
                <option value="accessory">Accessory</option>
            </select>
        </div>
        <div class="tags-container">
            <label>Style Tags:</label><br>

            <input type="checkbox" id="formal" name="tags" value="formal">
            <label for="formal" class="tag">Formal</label>

            <input type="checkbox" id="casual" name="tags" value="casual">
            <label for="casual" class="tag">Casual</label>

            <input type="checkbox" id="athletic" name="tags" value="athletic">
            <label for="athletic" class="tag">Athletic</label>

            <input type="checkbox" id="rain" name="tags" value="rain">
            <label for="rain" class="tag">Rain-Friendly</label>
        </div>
        <div class="form-field">
            <label for="image">Image:</label>
            <input id="image" type="file" name="image">
        </div>
        <button type="submit" class="button button-pink">Upload</button>
    </form>
</section>
{% endblock %}
